<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Foo 101 &mdash; Part 2</title>
	<link rel="stylesheet" href="/index.css" />
</head>

<body>
	{{> header}}
	<main>
		<article>
			<h1>Foo 101 &mdash; Part 2</h1>
			<p>This is the second part of my <em>Foo 101</em> post series.</p>
		</article>
	</main>
</body>

</html>
