<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{name}}'s profile</title>
	<link rel="stylesheet" href="/index.css" />
</head>

<body>
	{{#with inner}}{{> header}}{{/with}}
	<main>
		<h1 style="text-align: center;">
			<em>{{name}}</em>'s profile
		</h1>
	</main>
</body>

</html>
