<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>First article</title>
	<link rel="stylesheet" href="/index.css" />
</head>

<body>
	{{> header}}
	<main>
		<article>
			<h1>First article</h1>
			<p>Hello everyone !</p>
			<p>This is my first article on this blog.</p>
		</article>
	</main>
</body>

</html>
